.footer {
   background: #2f303a;

   padding: 60px 0;
}

.footer__container {
   display: flex;
   align-items: baseline;
}

.footer__logo__link {
   font-family: var(--second-font);
   font-weight: 700;
   font-size: 26px;
   line-height: calc(31 / 26);
   letter-spacing: 0.03em;

   display: block;

   margin-bottom: 20px;
}