.team__socials__list {
   display: flex;
   justify-content: center;

   gap: 10px;
   margin-top: 16px;
}

.team__socials__link {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 44px;
   height: 44px;

   color: #afb1b8;
   background-color: var(--main-color);

   border-radius: 50%;
   
   &:hover,
   &:focus {
   color: var(--main-color);
   background: var(--accent-color);

   transition: var(--cubic);
}
}

.team__socials__icon {
   fill: currentColor;
}