.works {
   padding-bottom: 94px;
}

.works__title {
   font-weight: 700;
   font-size: 36px;
   line-height: calc(42 / 36);
   text-align: center;
   letter-spacing: 0.03em;

   color: var(--title-color);

   margin-bottom: 50px;
}

.works__list {
   display: flex;
   flex-wrap: wrap;

   padding: 0;

   gap: 30px;
}

.works__wrapper {
   position: relative;
}

.works__overlay__box {
   position: absolute;
   bottom: 0;
   left: 0;

   width: 100%;

   background-color: rgba(47, 48, 58, 0.8);
}

.works__overlay__text {
   font-weight: 700;
   font-size: 14px;

   text-align: center;
   text-transform: uppercase;

   color: var(--main-color);

   padding: 27px 0;
}